[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=DCMotorControl
Exec=/home/yoggi/Labs/servosystem_gui/startup.sh
Comment=Yo-ho-ho
Icon=/home/yoggi/Labs/servosystem_gui/icons/icon.png
Name[en]=DCMotorControl